@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .content-grid {
    --padding-inline: 1rem;
    --content-max-width: 1400px;
    --breakout-max-width: 1200px;
    --content-columns: 1fr;

    --breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);

    display: grid;
    grid-template-columns: [full-width-start] 3.5% [content-start] var(--content-columns) [content-end] 3.5% [full-width-end];
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: 1536px) {
    .content-grid {
      max-width: 1536px;
    }
  }

  .content-grid > :not(.full-width) {
    grid-column: content;
  }

  .content-grid > .full-width {
    grid-column: full-width;

    display: grid;
    grid-template-columns: inherit;
  }
}
