node_modules
.github
.idea
public
dist
bin
build
out
tmp
temp
.cache
.nuxt
pnpm-lock.yaml
package-lock.json
.nuxt
.nx
artifacts-zk
cache-zk
typechain-types
.output
deployments-zk

# Disable prettier for files if VSCode settings are ignored
**/*.vue
**/*.js
**/*.ts
**/*.jsx
**/*.tsx
**/*.mjs
**/*.cjs

# These are explicitly poorly formatted files to test json parsing
test/json-files/*.json